@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
*{
    // background-color: #FAFAFA;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(248, 248, 248);
    a{
        text-decoration: none;
        
    }
    div.container{
        font-family: 'Fira Sans', sans-serif;
        font-size: 20px;

        nav{
            // padding-bottom: 50px;
            // overflow: hidden;
            // background-color: #333;
            // position: fixed; /* Set the navbar to fixed position */
            // top: 0; /* Position the navbar at the top of the page */
            // width: 100%; /* Full width */
            a{
                color: #aaa6f6;
            }
            a:hover{
                color: #3F3D56;

            }
            
            font-size: 20px;
            display: flex;
            div.logo{
                display: flex;
                a{
                    color: #3F3D56;
                    font-weight: bold;
                }

                width: 50%;
            }
            div.ham{
                margin-left: auto;
                img{
                    height: 20px;
                    width: 20px;
                }
            }
            div.links{
                width: 50%;
            }

            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;


            }
        }

        header{
            display: flex;
            div{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            section{
                margin-top: auto;
                margin-bottom: auto;
                span{
                    font-size: 30px;
                    color: #2F2E41;

                }
                span#tagline{
                    font-size: 15px;

                }
            }
            i{
                color: #2F2E41;

            }
            div.content{
                align-items: flex-start;
            }
            div.image{
                align-items: flex-end;

                text-align: right;

                img#profile{
                    height: 250px;
                }
            }


        }
    }
    .section1{
        // display: flex;
        margin-top: 50px;

        span{
            font-size: 32px;
            color: #3F3D56;
            font-weight: bold;
        }
        p{
            color: #2F2E41;
            padding: 20px 0 0 0;
            font-size: 17px;
            text-align: justify;
        }
        div.content{
            // text-align: right;

            // width: 65%;
        }
        div.image{
            margin-bottom: 50px;
            // margin-right: auto;
        }
    }
    .section2{
        // display: flex;
        margin-top: 50px;

        span{
            font-size: 32px;
            color: #3F3D56;
            font-weight: bold;
        }
        div.content {
            div{
                display: flex;
                width: 100%;
                div{
                    display: block;
                    font-size: 17px;
                    text-align: left;
                    width: 50%;
                    margin: 30px 0 30px 30px;
                    padding: 20px;
                    border: solid 1px black;
                    border-radius: 7px;
                }
            }
        }
        
    }
}

