@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
*{
    // background-color: #FAFAFA;
    padding: 0;
    margin: 0;
}
body{
    a{
        text-decoration: none;
        
    }
    div.container{
        nav{
            overflow: hidden;
            background-color: white;
            position: fixed; /* Set the navbar to fixed position */
            top: 0; /* Position the navbar at the top of the page */
            width: 100%; /* Full width */
            a{
                color: #3F72AF;
            }
            a:hover{
                color: #112D4E;

            }
            font-family: 'Fira Sans', sans-serif;
            font-size: 20px;
            display: flex;
            div.logo{
                display: flex;
                a{
                    color: #112D4E;
                    font-weight: bold;
                }

                width: 50%;
            }
            div.ham{
                margin-left: auto;
                img{
                    height: 20px;
                    width: 20px;
                }
            }
            div.links{
                width: 50%;
            }

            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;

                #logo{
                    color: black;
                }
            }
        }
    }
}

